.nav {
  /* background: #56C19F; */
  display: inline-flexbox;
  margin: 0px;
}
nav ul {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: flex-end;
  background-color: #83D0BC;
  border-color: #30B08F;
  height: 60px;
  margin:0px;
  border: 1px solid transparent;
}
nav ul li {
  margin-left: 20px;
  margin-top:17px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}
nav ul li a{
  display:block;
  color:darkcyan;
  letter-spacing: 0px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

/*  
  | img | 
*/
div.img {
  width: 200px;
  height: 200px;
  margin-left: 44%;
  margin-top: 20px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.img-file {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block; margin: 0px auto;
  text-align: center;
}

/************
 태그 스타일
*************/
body {
  margin: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
hr {
  color:#48A28B;
}
hr.small{
  max-width: 280px;
  margin: 10px auto;
  border-width: 4px;
  border: 2px solid #48A28B;
  background-color: #48A28B;
  border-color: #48A28B;
  opacity: 1;
  border-radius: 4px;
  /* box-shadow: 2px 5px 6px 0.4px #48A28B; */
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: center;
}
h1.main-name {
  font-size:80px;
  margin-top: 0px;
  margin-bottom:10px;
  text-align: center;
  /* text-shadow: 3px 4px 1px #98D8C7; */
}
.intro-header  {
  text-align: center;
}
p + p {
 margin: 20px 0 6px 0;
}

footer ul{
  font-family: Arial;
  display: flex;
  list-style: none;
  text-align: center;
}
/*============컨테이너 제어=============*/
.namebox {
    position: relative;
    height:200px;
    margin: 0px;
    color: #48A28B;
  }
.intro_container {
  width: 500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  }
  
/* color 제어*/
div.intro {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow:  0 1px 1px rgb(0, 0, 0 , 0.1);
}

footer {
 background: linear-gradient(90deg, rgba(238, 232, 213, 0.5), rgba(147, 161, 161, 0.5));
 padding-top: 0px;
 padding-bottom: 50px;
 position:absolute;
 bottom:0;
 background: #F5F5F5;
 border-top: 1px #EAEAEA solid;
 margin-top: 0px;
 height: 50px;
 font-size: 14px;
 display: block;
 width: 100%; 
 list-style: none;
 text-align: center;
 font-size: 20px;
 font-family: inherit;
}
footer div {
  width: 100%;
}
.copyright, .reference{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-bottom: 7px;
}